:root {
  --primary-link-color: #073c91;
  --visited-link-color: #05676e;
  --active-link-color: #489c79;
  --button-color: #fff;
  --button-bg-color: #073c91;
  --header-font-weight: 700;
  --body-font-weight:400;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: var(--body-font-weight);
  font-size: 20px;
  line-height: 1.6;
}



h1 {
  font-size: 30px;
  font-weight: var(--header-font-weight);
}

h2 {
  font-size: 24px;
  font-weight: var(--header-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--header-font-weight);
}

a {
  color: var(--primary-link-color);
}


a:visited {
  /* visited link */
  color: var(--visited-link-color);
}

a:hover, a:focus{
    text-decoration: none;

}
/* a:active{
    color:rgb(1, 82, 1);
} */



a:active {
  /* selected link */
  color: var(--active-link-color);
}

button {
  border: none;
  font-family: inherit;
  background-color: var(--primary-link-color);
  color: var(--button-color);
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.75;
  transition: opacity .5s;
}

.button, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #357b70;
  color: var(--button-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.9s opacity, 0.3s font-size;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  font-size:22px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

/******ABOUT SECTION*******/
.about {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.about-list {
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
}

table.center { /*centers table to align with the 'About' contents*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}


.profile_portrait {
  border-radius: 50%;
  float: left;
  width: 250px;
  margin-right: 40px
}


.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social-media {
  padding-top: 10px;
}

.page-header {
  display: flex; /* allows parent container to be a flexbox container*/
  width: 100%; /*covers full width of the page*/
  padding: 20px; /* 20px of padding all around*/
}

.page-header__item {
  flex: 0 1 200px; /* 0 for grow, 1 for shrink, and 200px base width */
}

.page-header__item:last-child { /*targets last selected item which is navi*/
  flex-grow: 1;
  text-align: right;
}

.navigation-list { /*removes the bullets on the unordered list*/
  list-style: none;
}

.navigation-list li { /* selects the li elements in the nav list */
  display: inline-block;  /*inline-block makes the list aligned in a row*/
  margin-left: 15px; /*gives 15px of space between each list item */
}



.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /*Fr is a flex unit used to allocate available space to grid items*/
  /*grid-template-rows: 300px 300px;  2 rows at a height of 300px~ */
  grid-gap: 20px;
}

.grid__item {
  background-color: lightgray;
  padding: 10px;
  border-radius: 5%;
}

.grid__item:first-child { /*t 1) be in the first column, 2) start in the first row, and 3) end at the beginning of the third row*/
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid__item:last-child { /*the last child item that it should 1) be in the third column, 2) start in the first row, and 3) end at the beginning of the third row*/
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

/********* Animation Keyframes  **********/

@keyframes color-change { /* defining the keyframe color chnange between 3 different colors before applying it to .sun */
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun { /*selecting the .sun and applying animation properties */
  animation: 4s color-change infinite alternate linear;
}

/* same as below */

/* .sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
} */

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation-duration: 30s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
/********* Animation Keyframes  **********/

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}






/* #73c91
#05676e
#489c79 */
